{% comment %}
========================================
Template: page.rjk-template.liquid
Used by: rjk's Personal Page (ID: 697414353062)
Purpose: Custom personal page layout
Last modified: 2026-02-23
========================================
{% endcomment %}
 
<style>.page-title{margin-bottom:40px;}</style>
<div class="container">
  <h1 class="text-center page-title">Page Title for rjk's Personal Page = {{ page.title }}</h1>
  <div class="content-block--page">
    rjk's page content<br>{{ page.content }}
  </div>
</div>